/* 初期化タイプ
-----------------------------------------*/
$init_type: "default";

/* フォント
-----------------------------------------*/
$face_default: "Noto Sans JP", sans-serif;

/* カラー
-----------------------------------------*/
$black: #333;
$white: #fff;

/* レイアウト
-----------------------------------------*/
$layout_width_max: 1200px;

/* ディレクトリ
-----------------------------------------*/
$dir_img: "./assets/img/";
