@use "../../../global" as g;

/* 初期設定
-----------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  color: g.$white;
  font-family: g.$face_default;
  @include g.mq(pc) {
    font-size: 14rem;
  }
  @include g.mq {
    font-size: 12rem;
  }
}

/* 出し分け用クラス
-----------------------------------------*/
._ {
  &pc {
    display: block;
    @include g.mq {
      display: none;
    }
  }
  &sp {
    display: none;
    @include g.mq {
      display: block;
    }
  }
}
